* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    background-color: black;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    top: 20px;
}

.titulo {
    font-size: 4rem;
    color: azure;
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
}

.parrafo {
    color: coral;
    padding: 1em;
    text-align: justify;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}