@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  background-color: black;
}

body {
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 600px;
  grid-template-rows: auto 1fr auto;
}

.centrado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  min-width: 500px;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 10vh;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 5vh;
}

.lista-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.1);
}

.lista-menu li {
  list-style: none;
  padding: 1rem;
}

.lista-menu li a {
  text-decoration: none;
  font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  color: white;
  padding: 1rem;
}

.lista-menu li a:hover {
  color: orangered;
  background-color: rgba(0, 0, 0, 0.2);
}

.titulo {
  font-size: 4rem;
  color: azure;
  margin-top: 20px;
  text-decoration: underline;
  text-align: center;
}

.parrafo {
  color: coral;
  padding: 1em;
  text-align: justify;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.footer {
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  color: white;
}

.btn {
  background-color: cornflowerblue;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: crimson;
  color: white;
}
