@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    background-color: black;
}

body {
    background-image: url('../imagenes/fondos/astronauta3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    top: 20px;
}

.titulo {
    font-size: 4rem;
    color: azure;
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
}

.parrafo {
    color: coral;
    padding: 1em;
    text-align: justify;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: black;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
  }